body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    height: 100%;
    background-color: rgb(227, 212, 233);
}

body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul > li a, button {
    color: rgb(158, 93, 184);
}

ul > li a:hover, button:hover {
    color: rgb(112, 54, 134);
}

div.container, div.container-fluid, div.col-md-6 {
    margin: 0;
    padding: 0;
}

div.row {
    padding: 0;
}

body > header > h1 {
    margin: 10px;
    background-color: rgb(158, 93, 184);
    border-radius: 20px;
    padding: 1% 0 1% 0;
    text-align: center;

    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-shadow: 4px 3px 3px  rgb(112, 54, 134);
}

button {
    background: none;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

body > footer {
    background-color:rgb(158, 93, 184);
    margin: 5% 0 0 0;
    padding: 2%;
    text-align: center;
}

body > footer > p {
    margin: 0;
    font-style: italic;
    color: white;
    font-size: 12px;
}