main > section {
    text-align: center;
    padding: 2%;
    background-color: rgb(223, 192, 235);
    border-radius: 20px;
    margin-bottom: 20px;
}

main > section > p:first-child {
    font-style: italic;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 2px rgb(199, 138, 223) solid;
    margin: 0;
}

main > section > p:last-child {
    padding-top: 10px;
    margin: 0;
}

main > section > p:last-child > span {
    text-decoration: underline;
}