main article > header {
    background-color:rgb(225, 179, 243);
}

main > article {
    padding-bottom: 3%;
    margin-bottom: 2%;
    background-color: rgb(236, 236, 236);
    border: 2px rgb(199, 138, 223) solid;
    text-align: center;
}

div.container-fluid article {
    background-color: white;
    border:2px rgb(199, 138, 223) solid;
    margin: 3%;
    text-align: center;
    height: 95%;
}