body > main > header > h2 {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0.5% 1%;
    font-size: 20px;
    text-align: center;
    color: rgb(158, 93, 184);
}

body > main > form, body > main > nav {
    padding: 1%;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
}

body > main > p {
    text-align: center;
    margin: 2%;
    color: rgb(204, 33, 33);
    text-decoration: underline;
    font-style: italic;
}

body > main > form {
    margin: 3% 0 0 0;
    text-align: left;
}

body > main > form label {
    margin: 2% 0 0.2% 0;
    font-size: 90%;
}

body > main > form  select, body > main > form input {
    display: block;
    margin: auto;
}

body > main > form ul > li:last-child {
    margin: 6% 0 0 0;
}

body > main > nav {
    padding: 1%;
    margin: 3% 0 0 0;
    font-size: 90%;
    text-align: center;
}

body > main > nav > ul {
    padding-top: 5%;
    font-size: 87%;
}

.acf-image-uploader p {
    font-size: 10px;
}

/* removes arrows from number input in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* removes arrows from number input in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}