/* articles */

article > header {
    background-color:rgb(225, 179, 243);
}

article {
    background-color: rgb(236, 236, 236);
    border:2px rgb(199, 138, 223) solid;
    text-align: center;
}

article > section {
    background-color: white;
    border:2px rgb(199, 138, 223) solid;
    margin: 3%;
    padding: 3%;
    text-align: center;
    height: 95%;
}