/* removes arrows from number input in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* removes arrows from number input in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

section > footer {
    margin: 2% 2% 0 0;
    width: fit-content;
}

section > footer > p {
    padding: 5px;
    background-color: white;
    border: 2px rgb(199, 138, 223) solid;
}
