
section {
    background-color: white;
    border:2px rgb(199, 138, 223) solid;
    margin: 3%;
    padding: 3%;
    text-align: center;
    height: 95%;
}

section > span {
    display: block;
    margin-bottom: 30px;
    font-weight: bold;
}

p > span {
    font-style: italic;
}