/* header nav */

body > header > nav {
    background-color: rgb(255, 255, 255);
    padding: 0.5% 1%;
    font-size: 20px;
}

body > header > nav > ul {
    text-align: end;
}

body > header > nav > ul > li {
    display: inline-block;
    margin: 0 5px;
}

body > header > nav > ul > li:first-child {
    float: left;
}

body > header > nav > ul > li:last-child > span{
    font-size: 60%;
    position: absolute;
    z-index: 1;
    color: white;
    background-color: rgb(134, 89, 218);
    border-radius: 45%;
}

/* main */
body > main {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 2%;
}

main > header > h2 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color:rgb(158, 93, 184);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 1%;
}

/* aside */
body > aside {
    width: 45%;
    line-height: 220%;
    background-color: rgb(241, 241, 241);
    padding: 1%;
    border-right: 2px rgb(158, 93, 184) solid;
    border-bottom: 2px rgb(158, 93, 184) solid;
    position: absolute;
    z-index: 1;
}

aside > ul > li a, aside > ul > li button:last-child {
    font-weight: bold;
    margin: 10% 0;
}

aside span {
    font-style: italic;
    font-weight: bold;
    color: rgb(73, 73, 73);
}

aside span + button {
    margin: 0 20px;
}

aside li > ul {
    background-color: white;
    margin: 10px 30px 10px 15px;
    padding: 3%;
    font-style: italic;
}

/* articles */

h3{
    padding: 0.5% 1%;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 2px 1px 3px rgb(181, 111, 206);
    color:rgb(63, 54, 78);
    text-align: center;
}

div > ul > li:last-child > span {
    color:rgb(134, 89, 218);
    font-weight: bold;
    font-style: italic;
}

article ul > li:last-child > button, article > section, article > ul {
    margin: 20px 0;
}

article section {
    padding-bottom: 5%;
}

article section > span {
    font-weight: bold;
}

article section > p {
    margin: 1%;
    font-size: 90%;
}

article section button {
    margin-left: 2%;
}

/* forms */

input {
    padding: 0;
}

form, form input, textarea {
    text-align: left;
    display: block;
    margin: auto;
}

textarea {
    text-align: left;
}

form li {
    margin-bottom: 20px;
}

h4 {
    text-align: center;
    font-size: 130%;
    font-weight: bold;
    margin-top: 20px;
}

.col-4 {
    padding: 0;
}

/* images */

article img {
    width: 80%;
    height: auto;
    margin: 5%;
}

/* sections */

main > section > header {
    background-color:rgb(225, 179, 243);
}

div.container-fluid article {
    background-color: white;
    border:2px rgb(199, 138, 223) solid;
    margin: 3%;
    text-align: center;
    height: 95%;
}

fieldset {
    padding: 10px;
    background-color: white;
    border: 2px rgb(199, 138, 223) solid;
    margin-bottom: 2%;
}